<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.371242278405-pqqnrmm748gm6uggf0lc0ssbkbkelo2f</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1312073875795599</string>
			</array>
		</dict>
	</array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb1312073875795599</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>1312073875795599</string>
    <key>KFE cinemas</key>
    <string>KFE cinemas</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>superman</string>
	</dict>
</dict>
</plist>
